body {
  font-family: Arial, sans-serif;
  color: #333;
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.container {
  max-width: 60%; 
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="number"],
input[type="checkbox"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #3e8e41;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
}

.mainHeading {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px 10px;
    max-width: 80%;
  }

  .labelSpace {
    margin-top: 12%;
  }

  .mainHeading {
    margin-bottom: -0.5rem;
  }

  h1 {
    font-size: 24px;
  }

  input[type="number"],
  input[type="checkbox"] {
    max-width: 300px;
  }

  button {
    font-size: 18px;
  }

  input[type="text"] {
    font-size: 20px;
  }
}
